<%= simple_form_for(@picture, html: {multipart: true}) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.input :title %>
    <%= f.input :pic, as: :file %>
    <%= f.submit %>
  </div>

  <%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path) %>

<%= headshot_camera %>

<br/><br/>

<%= headshot_snap_button('Shoot') %>
<% end %>
