<h1>Listing pictures</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


    <% @pictures.each do |picture| %>

        <h1><%= picture.title %></h1>
        <p><%= image_tag picture.pic.url %></p>
        <%= link_to 'Show', picture %>
        <%= link_to 'Edit', edit_picture_path(picture) %>
        <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>


<!-- <%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path) %> -->

<%= headshot_camera %>

<br/><br/>
<br>

<%= link_to 'New Picture', new_picture_path %>
