<!DOCTYPE html>
<html>
<head>
  <title>Instagroove</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path) %>

<%= headshot_camera %>

<br/><br/>

<%= headshot_snap_button('Shoot') %>



</body>
</html>
